* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #016184;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border: 1px solid #1b1b32;
    box-sizing: border-box;
}

div {
    margin: 40vh auto;
    width: 120px;
    background-color: #f5f6f7;
    height: 120px;
    border: 5px solid #8080d0;
    text-align: center;
    padding-top: 35px;
    transition-property: all;
    transition-duration: 0.2s;
}

div:hover {
    border-radius: 50% 50%;
}

div: